ErrH.Uploader.WPF/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="MainList" type="tns:MainList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MainList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MainListItem" type="tns:MainListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MainListItem">
    <xs:attribute name="Filename" type="xs:string" />
    <xs:attribute name="Difference" type="xs:string" />
    <xs:attribute name="Version" type="xs:string" />
    <xs:attribute name="Status" type="xs:string" />
    <xs:attribute name="NextStep" type="xs:string" />
    <xs:attribute name="Target" type="xs:string" />
  </xs:complexType>
</xs:schema>